<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



    <bean id="jms" class="org.apache.camel.component.jms.JmsComponent">
        <property name="configuration" ref="jmsConfig" />
    </bean>

    <bean id="jmsConfig" class="org.apache.camel.component.jms.JmsConfiguration">
        <property name="connectionFactory" ref="jmsConnectionFactory" />
    </bean>


    <bean id="jmsConnectionFactory" class="com.ibm.mq.jms.MQConnectionFactory">

        <property name="hostName" value="${mq.broker.hostname}"/>
        <property name="port" value="${mq.broker.port}"/>
        <property name="queueManager" value="${mq.broker.queuemanager}"/>
        <property name="channel" value="${mq.broker.channel}"/>
        <property name="transportType" value="${mq.broker.transporttype}"/>

    </bean>



</beans>